%table.table.table-striped.table-bordered.table-hover
  %tr
    %th
      .btn-group
        %a.btn.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
          Challenge
          %span.caret
        %ul.dropdown-menu
          - User.except(current_user).each do |user|
            %li
              = link_to user.email, challenge_path(opponent_id: user.id)
  -Game.active.each do |game|
    %tr
      %td
        = link_to "#{game.p0.email} VS #{game.p1.email}", game_path(game)
        = badges(game_badges(game))
