.row
  .span5
    .well
      = current_game.p0.email
      - if current_game.play.characters
        as:
        .label.label-info= current_game.play.characters[0].name.capitalize
  .span2
    %h3.js-current-beat
  .span5
    .well
      = current_game.p1.email
      - if current_game.play.characters
        as:
        .label.label-important= current_game.play.characters[1].name.capitalize
.js-loading
  Loading...
.js-choose-character{:style => "display: none"}
  .row
    - GamePlay.character_names.each do |name|
      %a.btn{charactername: name}
        = name
        = badges(character_badges(name))
.js-in-game{:style => "display: none"}
  .row
    .js-mine
      .span2.funny-well
        %h4.heading Tokens
        .collapsable.js-tokens
      .span2
        .funny-well
          %h4.heading Styles
          .collapsable.js-styles
        .funny-well
          %h4.heading Discard 1
          .collapsable.js-discard1
      .span2
        .funny-well
          %h4.heading Bases
          .collapsable.js-bases
        .funny-well
          %h4.heading Discard 2
          .collapsable.js-discard2
    .js-theirs
      .span2
        .funny-well
          %h4.heading Styles
          .collapsable.js-styles
        .funny-well
          %h4.heading Discard 1
          .collapsable.js-discard1
      .span2
        .funny-well
          %h4.heading Bases
          .collapsable.js-bases
        .funny-well
          %h4.heading Discard 2
          .collapsable.js-discard2
      .span2.funny-well
        %h4.heading Tokens
        .collapsable.js-tokens

  .row
    .span2.js-mine.funny-well.life
    .board
      .span1.space.s0
      .span1.space.s1
      .span1.space.s2
      .span1.space.s3
      .span1.space.s4
      .span1.space.s5
      .span1.space.s6
    .span2.js-theirs.offset1.funny-well.life
  .row
    .span3
      .well.js-current-effects.js-mine
    .span6
      .well.event-log
        %h6 Game log
        %p Event here!
        %p another event!
        %p event log is great!
    .span3
      .well.js-current-effects.js-theirs
  .row.attack-pairs
    .span6
      .js-mine.attack-pair.row
        .span3
          .style.real
            .well
              .name
              .rpp
                .range
                .power
                .priority
              .effects
          .style.preview
            .well
              .name
              .rpp
                .range
                .power
                .priority
              .effects
        .span3
          .base.real
            .well
              .name
              .rpp
                .range
                .power
                .priority
              .effects
          .base.preview
            .well
              .name
              .rpp
                .range
                .power
                .priority
              .effects
      .row
        .offset2.span2.js-finalize-attack-pair{:style => "display: none"}
          .btn.js-submit-attack-pair Submit
    .span6
      .js-theirs.attack-pair.row
        .span3
          .style.real
            .well
              .name
              .rpp
                .range
                .power
                .priority
              .effects
          .style.preview
            .well
              .name
              .rpp
                .range
                .power
                .priority
              .effects
        .span3
          .base.real
            .well
              .name
              .rpp
                .range
                .power
                .priority
              .effects
          .base.preview
            .well
              .name
              .rpp
                .range
                .power
                .priority
              .effects

  .js-answers
  .free-form
    .row
      .span4.offset4
        %form
          %input{:type => "text", :style => "width: 100%"}
%script{:src => "/javascripts/game.js"}
:javascript
  Game.init("#{@player_id}", "#{params[:id]}")
