.well
  = form_for(@challenge) do |f|
    %fieldset
      %legend Challenge
      .input-append
        = f.text_field :issuer_name, class: 'js-opponent', placeholder: 'Opponent', disabled: true
        .btn-group
          .btn.dropdown-toggle.disabled{data: {toggle: "dropdown"}}
            %span.caret
    %fieldset
      -if Challenge.configs.any?
        %legend Settings
      - Challenge.configs.each do |config|
        = f.label config do
          = f.check_box config, disabled: true
          = config.to_s.humanize
      = f.submit("Accept Challenge", class:'btn')
      = f.submit("Reject Challenge", class:'btn')
